/* i got the color pallet from here
https://coolors.co/ffffff-84dcc6-95a3b3-f7717d-2b2d3a */

:root {
  --primary-color: #84dcc6;
  --secondary-color: #f7717d;
  --faded-color: #95a3b3;
  --white-color: #ffffff;
  --background-color: #2b2d3a;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.bookmarks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
}

.bookmark {
  display: flex;
  flex-direction: column;
  align-items: center;
}
