/* i got the color pallet from here
https://coolors.co/ffffff-84dcc6-95a3b3-f7717d-2b2d3a */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
:root {
<<<<<<< HEAD
    --primary-color: #84dcc6;
    --secondary-color: #f7717d;
    --faded-color: #95a3b3;
    --white-color: #ffffff;
    --background-color: #2b2d3a;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-family: "Poppins", sans-serif;
    padding: 2em;
    margin: 0;
    padding-top: 0;
}

.quotes {
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.quotes::before {
    position: absolute;
    content: '"';
    font-size: 4rem;
    width: min-content;
    height: min-content;
}

.quote-author {
    text-align: right;
}

.modal {
    background-color: var(--background-color);
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 2px solid var(--secondary-color);
    width: 80%;
}

.modal-confirm-button,
.modal-close-button {
    float: right;
}

.modal-close-button:hover,
.modal-close-button:focus,
.modal-confirm-button:hover,
.modal-confirm-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#bookmarks-inner {
    padding-top: 5em;
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 5em;
    align-items: baseline;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.bookmark-div {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookmark-div .bookmark-icon {
    width: 150px;
    filter: invert(1);
    cursor: pointer;
    box-shadow: 0 0 2em hsla(0, 0%, 100%, 0.419);
    border-radius: 10px;
}

.bookmark-title {
    color: var(--white-color);
    text-decoration: none;
    max-width: 10em;
    word-wrap: break-word;
    text-align: center;
}

#add-div .bookmark-icon {
    filter: invert(0);
    opacity: 0.7;
    box-shadow: none;
}

.source-code {
    position: absolute;
    left: calc(50% - 2em);
}

.source-code a {
    color: var(--white-color);
    font-weight: 400;
}

.source-code img {
    filter: invert(100%);
    width: 25px;
}
=======
  --primary-color: #84dcc6;
  --secondary-color: #f7717d;
  --faded-color: #95a3b3;
  --white-color: #ffffff;
  --background-color: #2b2d3a;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.bookmarks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
}

.bookmark {
  display: flex;
  flex-direction: column;
  align-items: center;
}
>>>>>>> 49ec845 (changed html to use grid)
